{{ $avatar_img := .Site.Params.author.avatar }}
{{ $avatar_img_alt := .Site.Params.author.name }}
{{ $image := resources.Get $avatar_img }}
{{ $hero_img := .Site.Params.homepage.image }}
{{ $hero_img_alt := .Site.Params.homepage.imageAlt | default .Site.Params.author.intro | default .Site.Title }}
{{ $hero_resource := cond $hero_img (resources.Get $hero_img) nil }}
<div class="author">
    {{ with $hero_img }}
    <div class="author-hero">
        {{ with $hero_resource }}
        {{ if eq .MediaType.SubType "svg" }}
        <img
            class="author-hero-image"
            src="{{ .RelPermalink }}"
            alt="{{ $hero_img_alt }}" />
        {{ else }}
        {{ $hero1x := .Resize "720x webp q85" }}
        {{ $hero2x := .Resize "1200x webp q85" }}
        <img
            class="author-hero-image"
            src="{{ $hero1x.RelPermalink }}"
            srcset="{{ $hero1x.RelPermalink }} 1x, {{ $hero2x.RelPermalink }} 2x"
            alt="{{ $hero_img_alt }}"
            width="{{ $hero1x.Width }}"
            height="{{ $hero1x.Height }}" />
        {{ end }}
        {{ else }}
        {{ if or (hasPrefix . "http://") (hasPrefix . "https://") (hasPrefix . "/") }}
        <img
            class="author-hero-image"
            src="{{ . }}"
            alt="{{ $hero_img_alt }}" />
        {{ end }}
        {{ end }}
    </div>
    {{ end }}
    {{ with $image }}
    {{ if eq .MediaType.SubType "svg" }}
    <svg width="25em" height="25em" xmlns="http://www.w3.org/2000/svg">
        <image width="25em" height="25em" href="{{ $image.RelPermalink }}" />
    </svg>
    {{ else }}
    {{ $image1x := $image.Fill "70x70 center webp" }}
    {{ $image2x := $image.Fill "140x140 center webp" }}
    {{ $image3x := $image.Fill "210x210 center webp" }}
    <img
        class="author-avatar"
        src="{{ $image1x.RelPermalink }}"
        srcset="{{ $image2x.RelPermalink }} 2x, {{ $image3x.RelPermalink }} 3x"
        alt="{{ $avatar_img_alt }}"
        width="{{ $image1x.Width }}"
        height="{{ $image1x.Height }}" />
    {{ end }}
    {{ end }}
    <h2 class="author-name">{{ .Site.Params.author.intro }}</h2>
    <p class="author-bio">{{ .Site.Params.author.description }}</p>
</div>
